<div class="col-md-6 offset-md-3">
<h3> Criar Empregado </h3>
<form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" id="firstName" 
            [(ngModel)]="employee.firstName" name="firstName">
    </div>
    <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" class="form-control" id="lastName"
            [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="emailid"
            [(ngModel)]="employee.emailid" name="emailid">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>
</div>
